* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* regole header */

header {
    height: 500px;
    background-color: rgb(33, 161, 235);
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    
}

.nav-head {
display: flex;
flex-direction: row;
justify-content:space-around;
background-color: red;
margin-top: 20px;
height: 50px;
width: 100%;
align-items: center;
}

.list-head {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 400px;
    
}

.butt-nav {
    background-color: white;
   
}

button {
    padding: 10px;
    border-radius: 20px;
    border: 0;
}

/* regole section header */

.section-head {
    display: flex;
    
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    color: white;
    

}


/* regole debug section header */
div {
    background-color: black;
    height: 60px;

}

.section-head {
    background-color: aqua;
    width: 700px;
    height: 300px;
}





